<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.gcj.dzh.dao.InfoDao">
    
    <select id="select_order_table" resultType="com.hdt.bean.OrderBean">
        select * from order_table where updatetime>=#{updateTime}
    </select>

    <select id="select_pv_table" resultType="com.hdt.bean.PageViewBean">
        select * from pv_table where updatetime>=#{updateTime}
    </select>
</mapper>